@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	article p a {
		@apply mt-2 text-base font-bold leading-6 text-blue-500 hover:text-blue-700 active:text-blue-900;
	}
}

.aspect-16-9,
.aspect-20-15 {
	position: relative;
}

.aspect-16-9 {
	padding-top: 56.25%;
}

.aspect-20-15 {
	padding-top: 75%;
}

.aspect-16-9 > iframe,
.aspect-20-15 > iframe {
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
